@model AMSMVC.ViewModels.TeacherFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />

<div class="ui four item stackable tabs menu" style="max-width: 840px">
    @Html.ActionLink("Manage Teachers", "Index", "Teacher", null, new { @class = "item" })
    <a class="active item" data-tab="">@Model.Title</a>
    @Html.ActionLink("Manage Subjects Allocation", "Index", "Allocator", null, new { @class = "item" })
    @Html.ActionLink("New Subject Allocation", "New", "Allocator", null, new { @class = "item" })
</div>
<br />

@using (Html.BeginForm("Save", "Teacher"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Teacher.TeacherName)
        @Html.TextBoxFor(m => m.Teacher.TeacherName, new { @class = "form-control text", style = "max-width: 30rem", placeholder = "Enter Name" })
        @Html.ValidationMessageFor(m => m.Teacher.TeacherName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Teacher.DepartmentId)
        @Html.DropDownListFor(m => m.Teacher.DepartmentId, new SelectList(Model.Departments, "DepartmentId", "DepartmentName"), "Select Department", new { @class = "form-control", style = "max-width: 30rem" })
        @Html.ValidationMessageFor(m => m.Teacher.DepartmentId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Teacher.TeacherEmailId)
        @Html.TextBoxFor(m => m.Teacher.TeacherEmailId, new { @class = "form-control", style = "max-width: 30rem", type = "email", placeholder = "Enter Email ID" })
        @Html.ValidationMessageFor(m => m.Teacher.TeacherEmailId)
    </div>
    @Html.HiddenFor(m => m.Teacher.TeacherId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}